*{
    margin: 0;
    padding: 0;
}
.sec1 h1{
    margin-top: 100px;
    margin-left: 250px;
    margin-bottom: 20px;
   }
   
   .mainpic2{
       width: 100%;
       height: 650px;
       position: relative;
   }
   .mainpic2 .mainimage2fit{
       width: 100%;
       height: 400px;
   
   }
   .mainpic2 .mainimage2fit img{
       width: 100%;
       height: 100%;
   }
   
   
   .shortdiv{
       width: 700px;
       height: 365px;
       top: 220px;
       left: 300px;
       border-radius: 14px;
       background-color: #fff;
       position: absolute;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
   }
   .shortdiv h3{
       margin-top: 24px;
       margin-left: 26px;
       margin-bottom: 24px;
       
   
   }
   
   .shortdiv p{
       font-size: 18px;
       margin-left: 25px;
       margin-right: 20px;
   }
   
   .shortdiv .btn{
       background-color: #FF2B85;
       width: 130px;
       height: 50px;
       margin-left: 26px;
       color: #fff;
       border: none;
   }

   @media (min-width: 769px) and (max-width: 992px){
    .sec1{
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }
    .sec1 h1{
       text-align: left;
       margin-left: 90px;
       font-size: 30px;
       }
       .mainpic2{
        width: 100vw;
        height: 80%;
        position: relative;
    }
    .mainpic2 .mainimage2fit img{
        width: 100%;
        height: 100%;
    }
    .shortdiv{
        
        width: 60%;
        height: auto;
        padding-bottom: 20px;
        top: 60%;
        left: 100px;
        border-radius: 14px;
        background-color: #fff;
        position: absolute;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }
    .shortdiv h3{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 26px;
        margin-bottom: 15px; 
    }
    .shortdiv p{
        font-size: 15px;
        margin-left: 25px;
        margin-right: 20px;
    }
    .shortdiv .btn{
        background-color: #FF2B85;
        width: 20%;
        height: 10%;
        margin-left: 26px;
        color: #fff;
        border: none;
    }
    

   }

   @media all and (max-width:767px){


    .sec1{
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }
    .sec1 h1{
        text-align: left;
        margin-left: 80px;
        font-size: 23px;
        }
    .mainpic2{
        width: 100vw;
        height: 70%;
        position: relative;
     }
     .mainpic2 .mainimage2fit img{
         width: 100%;
         height: 85%;
     }
     .shortdiv{
         
         width: 80%;
         height: auto;
         padding-bottom: 20px;
         top: 55%;
         left: 80px;
         border-radius: 14px;
         background-color: #fff;
         position: absolute;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
     }
     .shortdiv h3{
         font-size: 18px;
         margin-top: 20px;
         margin-left: 26px;
         margin-bottom: 15px; 
     }
     .shortdiv p{
         font-size: 13px;
         margin-left: 25px;
         margin-right: 20px;
     }
     .shortdiv .btn{
         background-color: #FF2B85;
         width: 20%;
         height: 10%;
         margin-left: 26px;
         color: #fff;
         border: none;
     }
     

   }